<a href="https://colab.research.google.com/github/UmashankarKH/lwprojgithub/blob/master/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= input("what is ur name : ")
y=input ("what is your age : ")
print(f"Hi {x} your age is {y}")
z=int(input("please tell me your phone number : " ))
zx=input("please tell me ur address as well: ")
print(f"Hi {x} your age is {y} , your phone number is {z} and your current address is {zx}")

what is ur name : umashankar k h
what is your age : 23
Hi umashankar k h your age is 23
please tell me your phone number : 9483632823
please tell me ur address as well: 5th cross jp nagar bangalore
Hi umashankar k h your age is 23 , your phone number is 9483632823 and your current address is 5th cross jp nagar bangalore

In [ ]:
firstname=input("Please enter ur first name: ") 
lastname=input("please enter ur last name : ")
print(f"{firstname}.{lastname}@gmail.com")

Please enter ur first name: Umashankar
please enter ur last name : KH
Umashankar.KH@gmail.com

In [ ]:
driving = True
if driving:
  print("happy journey")
else :
  print("Good night")

happy journey

In [ ]:
attendance=int(input())
assignment=int(input())

if attendance and assignment > 70:
  print("elgible")
else:
  print("not elgible")

75
75
elgible

In [ ]:
x=str(input("What is ur name: "))
y=str(input("Which sem are you into: "))
attendance=int(input(f"Hi {x} Please enter your attendance in percent: "))
assignment=int(input(f"Hi {x} please enter your assignment percent out of 100: "))
sports = True
if (attendance or assignment > 70) or sports == True:
  print("elgible")
else:
  print("not elgible")

What is ur name: Umashankar K H
Which sem are you into: s
Hi Umashankar K H Please enter your attendance in percent: 80
Hi Umashankar K H please enter your assignment percent out of 100: 80
elgible

In [ ]:
x=str(input("What is ur name: "))
y=str(input("Which sem are you into: "))
a=int(input(f"Hi {x} Please enter your marks out of 100 in sub1: "))
b=int(input(f"Hi {x} Please enter your marks out of 100 in sub2: "))
c=int(input(f"Hi {x} Please enter your marks out of 100 in sub3: "))
d=int(input(f"Hi {x} Please enter your marks out of 100 in sub4: "))
e=int(input(f"Hi {x} Please enter your marks out of 100 in sub5: "))
z=((a+b+c+d+e)/500)*100
if z > 60:
  print("Passed in distinction")
else:
  print("passed")
print(f"hi {x} your in {y} semester and for your given marks your percentage is : {z}")

What is ur name: Mishan
Which sem are you into: 5
Hi Mishan Please enter your marks out of 100 in sub1: 50
Hi Mishan Please enter your marks out of 100 in sub2: 50
Hi Mishan Please enter your marks out of 100 in sub3: 50
Hi Mishan Please enter your marks out of 100 in sub4: 50
Hi Mishan Please enter your marks out of 100 in sub5: 50
passed
hi Mishan your in 5 semester and for your given marks your percentage is : 50.0

In [ ]:
5

In [ ]:
a=1
b=2
id(a)
id(b)

9793120

In [ ]:
b=2
print(id(b))

9793120

In [ ]:
a=1

In [ ]:
print(id(a))

9793088

In [ ]:
attendance=int(input())
assignment=int(input())
previous_marks = int(input())

if (attendance and assignment > 70):
  print("elgible")
else:
  print("not elgible")
if previous_marks >60:
    print("elgible")
else:
  print("not elgible")

75
75
50
elgible
not elgible

In [ ]:
a=4
b=2
print(a/b)
print(a//b)

2.0
2

String Methods

In [ ]:
date="02-02-2023"

day=date[0:3]
month=date[3:6]
print(day)
print(month)

02-
02-

In [ ]:
### palindrome sequence###
words= str(input("please enter the word or string: "))
reverse= words[: : -1]
print(reverse)
if words == reverse:
  print(f"The Given word {words} is a pallindrome")
else:
    print(f"The Given word {words} is not a pallindrome")
print("Thank You, please visit agian")

please enter the word or string: mishan
nahsim
The Given word mishan is not a pallindrome
Thank You, please visit agian

In [ ]:
c=int(input())
b=int(input())
a=int(input())
total_amount = a+b+c

if total_amount > 1000:
  total_discount=total_amount*0.6
  print(f"total_prince will be : {total_amount}")
elif total_amount <= 999 and total_amount > 499:
    total_discount= total_amount*0.8
    print(f"total_amount to be paid is: {total_discount}")
else:
   print(f"total_amount will be : {total_amount}")

100
200
300
total_amount to be paid is: 480.0

In [ ]:
c=int(input())
b=int(input())
a=int(input())
total_amount = a+b+c

if total_amount > 1000:
  total_discount=total_amount*0.6
  print(f"total_prince will be : {total_discount}")
elif total_amount <= 999 and total_amount > 499:
    total_discount= total_amount*0.8
    print(f"total_amount to be paid is: {total_discount}")
else:
   print(f"total_amount will be : {total_amount}")

1000
1000
1000
total_prince will be : 1800.0

In [3]:
for i in range(1,11):
  print(f"Table 10X{i}= {10*i}")

Table 10X1= 10
Table 10X2= 20
Table 10X3= 30
Table 10X4= 40
Table 10X5= 50
Table 10X6= 60
Table 10X7= 70
Table 10X8= 80
Table 10X9= 90
Table 10X10= 100